{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "project": ["./tsconfig.json", "./tsconfig.spec.json"],
    "sourceType": "module"
  },
  "ignorePatterns": ["dist"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": false
      }
    ],
    "indent": ["warn", 2, { "SwitchCase": 1 }],
    "max-len": ["warn", 140],
    "no-console": ["warn"] // use the provided Homebridge log method instead
  }
}
