name: Release

on:
  pull_request:
    types:
      - closed
    branches:
      - main

jobs:
  check_release_trigger:
    name: Check if PR will trigger a Release
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.merged == 'true' }}
    outputs:
      version_changed: ${{ steps.detect_version_change.outputs.version_changed }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Detect version change
        id: detect_version_change
        uses: ./.github/actions/detect-version-change

  release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: [check_release_trigger]
    if: ${{ needs.check_release_trigger.outputs.version_changed == 'true' && !contains(github.event.head_commit.message, '[skip deploy]') }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Get new version and changelog
        id: extract_version
        uses: ./.github/actions/get-version-and-changelog
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: "${{ steps.extract_version.outputs.version }}"
          name: "v${{ steps.extract_version.outputs.version }}"
          body: |
            ${{ steps.extract_version.outputs.changelog }}
          prerelease: ${{ contains(steps.extract_version.outputs.version, '-') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  cache_dependencies:
    name: Cache dependencies
    uses: ./.github/workflows/dependency_cache.yaml
    needs: [check_release_trigger]
    if: ${{ needs.check_release_trigger.outputs.version_changed == 'true' && !contains(github.event.head_commit.message, '[skip deploy]') }}
    secrets: inherit

  deploy:
    name: Deploy to npmjs.org
    runs-on: ubuntu-latest
    needs: [cache_dependencies]
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: "https://registry.npmjs.org"
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: Restore pnpm store
        uses: actions/cache@v4
        with:
          path: ${{ needs.cache_dependencies.outputs.pnpm-store-path }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-
      - name: Restore dependencies
        run: pnpm install --frozen-lockfile
      - name: Build the project
        run: pnpm build
        env:
          CI: true
      - name: Publish to npmjs.org
        run: |
          pnpm publish --access public --tag pre --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
